.head {
    color: red;
    font-size: 24px;
}

h1 {
    color: white;
    align-content: center;
}

.city {
    color: black;
}

.btn {
    background-color: rgb(103, 197, 255);
}

.list-group-item {
    color: black;
    cursor:pointer
}

#weather-today {
    background-color: lightsteelblue;
}

.capitalize {
    text-transform: capitalize;
}

.severe {
    background-color: red;
}

.moderate {
    background-color: yellow;
}

.favorable {
    background-color: green;
}